.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
 color: #337ab7;
 background-color: #fff;
}
.list-group-item > .badge {
 float: right;
}
.list-group-item > .badge + .badge {
 margin-right: 5px;
}
.active{
 color: #bd362f;
 background-color: #b9c5d2;
}
.border{
 height: 100px;
 border: 1px saddlebrown solid;
}
.flex{
 display: flex;
}